<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTubeCommentViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YouTubeCommentViewer.Properties.Settings>
            <setting name="FontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SelectionForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="VisibleGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="VisibleTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Tokyo</value>
            </setting>
            <setting name="VisibleUserName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableChangeUserName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModeratorColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="MemberColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="VisibleUserIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSuperChatColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTimeDifference" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ViewWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ViewHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="UserColumnWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ViewLocationX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewLocationY" serializeAs="String">
                <value>0</value>
            </setting>
        </YouTubeCommentViewer.Properties.Settings>
    </userSettings>
</configuration>